

.aboutme-title{
    margin-top: 2%;
    font-size: 35px;
}

.aboutme-text{
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
}

.aboutme-links{
    text-decoration: none;
    color: #555050;
    font-weight: bolder;
}

.aboutme-links:hover{
    text-decoration: none;
    color: #b97c70;
}

.hidden{
    display: none;
}

.aboutme-img{
    height: 500px;
    background-image: url("../Img/desktop-resize.png");
    background-size: cover;
    background-repeat: no-repeat;
    transition: 250ms;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.aboutme-img:hover{
    transition-delay: 250ms;
    width: 100%;
    background-image: url("../Img/esktop-with-computer-large-2.png");
}