body{
    color: #555050;
     /* font-family: 'Cutive Mono', monospace;
    font-family: 'Open Sans', sans-serif; */
    font-family:'Nunito', sans-serif;;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar{
    width: 100%;
    font-size: 20px;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.navbar-item{
    margin: 2% 3%;
}

.navbar-flower{
    font-size: 30px;
}

.navbar-link{
    text-decoration: none;
    color: #555050;
}

.navbar-link:hover{
    text-decoration: none;
    color: #b97c70;
}

.banner{
    background-image: url('/img/banner.png');
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.wrapper{
    margin: 0 20%;
    display: flex;
    justify-content:center ;
    flex-direction: column;
    text-align: center;
    
}

/* about me */

.aboutme-title{
    margin-top: 2%;
    font-size: 35px;
}

.aboutme-text{
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
}

.aboutme-links{
    text-decoration: none;
    color: #555050;
    font-weight: bolder;
}

.aboutme-links:hover{
    text-decoration: none;
    color: #b97c70;
}

.hidden{
    display: none;
}

.aboutme-img{
    height: 500px;
    background-image: url("../Img/desktop-resize.png");
    background-size: cover;
    background-repeat: no-repeat;
    transition: 250ms;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.aboutme-img:hover{
    transition-delay: 250ms;
    width: 100%;
    background-image: url("../Img/esktop-with-computer-large-2.png");
}

/*projects */

.main-title{
    font-size: 35px;
    letter-spacing: 8px;
}

.main-introdution{
    font-size: 25px;
    letter-spacing: 5px;
}

.section{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section-title{
    font-size: 30px;
}

.section-layout{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.section-text, .section-text-education{
    color: grey;
    width: 55%;
    letter-spacing: 3px;
    line-height: 25px;
}

.section-subtitle, .section-subtitle-education{
    font-size: 25px;
    letter-spacing: 10px;
    display: inline-block;
}

.section-link, .footer-items-links, .section-link-education, .section-link-work{
    text-decoration: none;
    font-weight: bolder;
    color:#555050;
}

/* polaroid */

.polaroid {
    background: #fff;
    padding: 1rem;
    box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
  }

.polaroid:hover {
    box-shadow: 0 0.2rem 1.6rem rgba(0,0,0,0.2);
}

  .polaroid-img{
    max-width: 100%;
    height: auto;
  }

  .caption {
    color: #555050;
    font-family:'Nunito', sans-serif;;
    font-size: 1.8rem;
    text-align: center;
    line-height: 2em;
    text-decoration: none;
  }

  .item {
    width: 30%;
    display: inline-block;
    margin-top: 2rem;
  }
  

  /*Education */
.section-education{
margin-top: 5%;
}

.section-subtitle-education{
    margin: 0;
}

.sub-section{
    margin-top: 3%;

}

.section-subtitle-education{
    letter-spacing: 3px;
}

.section-text-education{
width: 100%;
}

.workplace{
    margin-bottom: 1%;
}
.section-link-work{
    font-size: 25px;
    margin-bottom: 1%;
}

.cv-button{
    border: none;
    background-color: white;
    color: #555050;
    font-size: 20px;
    letter-spacing: 3px;
    margin-bottom: 10%;
}


  
/* footer styling */

.footer-elements{
    display: flex;
    justify-content: center;
}

.footer-elements-items{
    margin:2%;
}

.footer-navbar{
    display: none;
}

  